
.container-projects { 
    position: relative;
    margin-left: 2.5%;
    width: 95%;
    background: linear-gradient(180deg, var(--colorPrimary)50%, var(--colorThird));
}

.container-projects__text {
    position: absolute;
    z-index: 1;
    top:  -4%;
    right: 45%;
    font-size: 48px;
    font-weight: bolder;
}

.container-projects__text-title {
    color: var(--colorThird);
    text-transform: uppercase;
    margin-top: 10%;
}

.container-cards {
    height: 1000px;
}