
.container-projects { 
    position: relative;
    margin-left: 2.5%;
    width: 95%;
    background: linear-gradient(180deg, var(--colorPrimary)50%, var(--colorThird));
}

.container-projects__text {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.container-projects__text-title {
    color: var(--colorThird);
    text-transform: uppercase;
}

.container-cards {
    height: 1000px;
}