
.container-contact { 
    position: relative;
    margin-left: 2.5%;
    width: 95%;
    background: linear-gradient(180deg, var(--colorPrimary)50%, var(--colorSecondary));
}

.container-contact__text {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}

.container-contact__text-title {
    color: var(--colorThird);
    text-transform: uppercase;
}

.container-cards {
    height: 100%;
}

.arrow-up-container { 
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    padding: 1%;
}

.arrow-up-container__link {
    color: var(--colorBack);
    font-size: 3em;
}

.arrow-up-container__link:hover {
    color: var(--colorThird);
}

.contact-input {
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 1px;
}

.btn-sendMessage {
    background: var(--colorBack);
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-sendMessage:hover {
    background: var(--colorThird);
}

/* TextArea pequeno*/
@media (max-width: 675px) {
    textarea {
        width: 60%;
    }
}
/* TextArea grande */
@media (min-width: 676px) {

    textarea {
        width: 60%;
    }
    
}