.home {
    width: 100%;
}

.home-container {
    position: relative;
    margin-top: 0.5%;
    background: linear-gradient(180deg, var(--colorThird)96%, var(--colorPrimary));
    width: 95%;
    margin-left: 2.5%;
    height: 120vh;
}

.banner-begin {
    position: relative;
    padding: 0;
    background: linear-gradient(50deg, var(--colorPrimary) 50%, var(--colorThird));
    width: 47.2vw;
    height: 100vh;
    transform: translate(-50.19%, 0%) matrix(1,0,0,1,0,0);
    transition: 1s;
}

.banner-end {
    position: relative;
    padding: 0;
    background: linear-gradient(180deg, var(--colorPrimary) 20%, var(--colorThird));
    width: 90vw;
    height: 110vh;
    transform: translate(0%, 0%) matrix(1,0,0,1,0,0);
    transition: 2s;
}

.banner-show-menu {
    position: relative;
    padding: 0;
    background: linear-gradient(60deg, var(--colorPrimary) 50%, var(--colorThird));
    width: 95.6vh;
    height: 100vh;
    transform: translate(50%, 0%) matrix(1,0,0,1,0,0);
    transition: 1s;

}

.banner__button-menu {
    position: absolute;
    z-index: 1;
    left: -1.2%;
    top: 45vh;
    border: none;
    text-decoration: none;
    color: #810034;
    overflow: visible;
}

.banner__button-menu:hover {
    color: black;
}

.banner__button-menu-icon {
    font-size: 3em;
}

.banner-content-container {
    position: absolute;
    left: 12%;
    right: 60%;
    bottom: 5%;
    top: 15%;
}

.banner-out-text {
    position: absolute;
    right: 40%;
    top: 40vh;
    z-index: 1;
    margin-left: 30%;
    color: var(--colorBack);
    font-variant: small-caps;
    font-weight: bolder;
}
