.home {
    width: 100%;
}

.home-container {
    position: relative;
    background: var(--colorPrimary);
    width: 95%;
    margin-left: 2.5%;
    margin-top: 0.5%;
    height: 100vh;
}

.banner-begin {
    position: relative;
    padding: 0;
    background: linear-gradient(50deg, var(--colorPrimary) 50%, var(--colorSecondary));
    width: 50%;
    height: 95%;
    transform: translate(-50%, 0%) matrix(1,0,0,1,0,0);
    transition: 0.5s;
    overflow: visible;
    z-index: 1;
}

.banner-end {
    position: relative;
    padding: 0;
    background: linear-gradient(180deg, var(--colorPrimary) 50%, var(--colorSecondary));
    width: 100%;
    height: 95%;
    transform: translate(0%, 0%) matrix(1,0,0,1,0,0);
    transition: 0.5s;
    overflow: visible;
    z-index: 1;
}

.banner-show-menu {
    position: relative;
    padding: 0;
    background: linear-gradient(60deg, var(--colorPrimary) 50%, var(--colorSecondary));
    width: 50%;
    height: 95%;
    transform: translate(50%, 0%) matrix(1,0,0,1,0,0);
    transition: 0.5s;
    overflow: visible;
    z-index: 1;
}

/* Posicion derecha para menu */
@media (max-width: 675px) {

    .banner__button-menu {
        position: absolute;
        z-index: 2;
        right: -1.5%;
        top: 45vh;
        border: none;
        text-decoration: none;
        color: var(--colorThird);
        overflow: visible;
    }
}
/* Posicion izquierda para menu */
@media (min-width: 676px) {

    .banner__button-menu {
        position: absolute;
        z-index: 2;
        left: -1.5%;
        top: 45vh;
        border: none;
        text-decoration: none;
        color: var(--colorThird);
        overflow: visible;
    }
}

.banner__button-menu:hover {
    color: var(--colorSecondary);
}

.banner__button-menu-icon {
    font-size: 3em;
}

.banner-out-text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 45%;
    bottom: 45%;
    font-variant: small-caps;
    font-weight: bolder;
    z-index: 2;
}

.banner-out-text__title {
    color: var(--colorThird);
}

.banner-out-text__subtitle {
    color: var(--colorBack);
}