.home {
    width: 100%;
}

.home-container {
    margin-top: 0.5%;
    background: var(--colorThird);
    width: 95%;
    margin-left: 2.5%;
    height: 1500px;
}

.banner-begin {
    position: relative;
    padding: 0;
    background: linear-gradient(50deg, var(--colorPrimary) 50%, var(--colorThird));
    width: 47vw;
    height: 100vh;
    transform: translate(-50.19%, 0%) matrix(1,0,0,1,0,0);
    transition: 1s;
}

.banner-end {
    position: relative;
    padding: 0;
    background: linear-gradient(120deg, var(--colorPrimary) 50%, var(--colorThird));
    width: 90vw;
    height: 110vh;
    transform: translate(0%, 0%) matrix(1,0,0,1,0,0);
    transition: 2s;
}

.banner-show-menu {
    position: relative;
    padding: 0;
    background: linear-gradient(60deg, var(--colorPrimary) 50%, var(--colorThird));
    width: 95.3vh;
    height: 100vh;
    transform: translate(50%, 0%) matrix(1,0,0,1,0,0);
    transition: 1s;

}

.banner__button-menu {
    position: absolute;
    z-index: 1;
    left: 1.5%;
    top: 50%;
    border: none;
    text-decoration: none;
    color: orangered;
}

.banner__button-menu:hover {
    color: black;
}

.banner__button-menu-icon {
    font-size: 3em;
}

.banner-content-container {
    position: absolute;
    left: 12%;
    right: 60%;
    bottom: 5%;
    top: 15%;
}

.banner-out-text {
    position: absolute;
    right: 40%;
    top: 50%;
    z-index: 1;
    margin-left: 30%;
    color: var(--colorBack);
    font-variant: small-caps;
    font-weight: bolder;
}

.container__arrow-up {
    position: absolute;
    right: 5%;
    bottom: -60%;
}

.container__arrow-up_a {
    color: orangered;
    font-size: 3em;
    text-decoration: none;
}

.container__arrow-up_a:hover {
    color: var(--colorPrimary);
}
