/* Paleta de colores vars generales de la app*/
*{
  --colorPrimary: #0a1931;
  --colorSecondary: #185adb;
  --colorThird: #ffc947;
  --colorBack: #feddbe;
}

/* Helpers Start*/

.hide {
  display: none;
}

.show {
  display: block;
}

/* Helpers End */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 0.5em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border-radius: 30px;
}
  
*::-webkit-scrollbar-thumb {
  background: linear-gradient(50deg, var(--colorPrimary) 50%, var(--colorSecondary));
  border-radius: 10px;
}