
.card-container {
    width: 100%;
    height: 100%;   
}

.card    {
    width: 100%;
    margin: 1%;
    height: 30rem;
}

.container {
    padding: 1%;
    text-align: center;
}

.row-cards {
    justify-content: center;
}

.btn-primary {
    background: var(--colorPrimary);
    border: none;
}

.card-img-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-text-container {
    height: 50%;
}