
.footer {
    position: relative;
    height: 50px;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container__text {
    position: absolute;
    top: 25%;
    font-variant: small-caps;
    color: var(--colorThird);
}