
.footer {
    position: relative;
    height: 50px;
    border: 5px solid red;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container__text {
    position: absolute;
    top: 25%;
    font-variant: small-caps;
}