
.container__title {
    color: var(--colorBack);
  
}

.container__presentation {
    margin-top: 5%;
}

.container__presentation-text {
    color: var(--colorBack);
    font-style: italic;
    margin-top: 5%;
}