
.container-presentation {
    float: left;
    width: 50%;
    height: 80%;
}

.presentation-title {
    margin-top: 30%;
}

.presentation-content {
    padding: 1% 5%;
}

.presentation-title__text { 
    color: var(--colorBack);
}


.presentation-content__text { 
    color: var(--colorBack);
    text-align: center;
}

.presentation-content__text--mail {
    text-decoration: none;
}

.presentation-content__text--mail:hover {
    color: var(--colorPrimary);
}
